body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
.myCarousel {
  height: 900px;
}
.r {
  color: white;
}
img {
  margin: 0 auto;
  float: center;
}
.contact {
  color:white;


}
a {
  text-align: center;
  color: white;
}
img{
  float: center;
}
.item {
  width: 500px;
  float: center;
}
.item active {
  width: 500px;
  float: center;
}
h2 {
  background-color: #ececec;
  color: white;
  width: 100%;
  height: 50px;

  box-shadow: 2px 3px 2px #afafaf;
}
.fa fa-bars{
display: inline;
font-size: 8px;
}

i {
  color:white;
  font-size: 48px;
width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 5px;
 
  float: center;
  display: inline;
  margin: 0 auto;
  padding: 5px;

}
i:hover {
  color:blue;


}
.home i {
width: 50px;
}

h3 {

  color: white;
  width: 100%;
  height: 40px;
}
.col-sm-4 {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 2px 5px 8px #888888;
  margin: 10px;

}
.imgDisplay {
  width: 100%;;
  height: 200;
}

.displayBox {
  border: 2px solid black;
  box-shadow: 5px 10px 8px #888888;
  width: 200px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.myphoto {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: -20px;
  display: block;
  border-radius: 50%;
  border: 3px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 120px;

}
.myphoto2 {
  margin: 0 auto;
  margin-top: 20px;

  display: block;
  border-radius: 50%;
  border: 3px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 280px;

  display: inline-block;
}
.mySideName {
  margin: 0 auto;
  text-align: center;
  color: white;
}
.banner {
  color: black;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #072255;
  position: fixed;
  height: 100%;
  overflow: auto;
  color: white;
  border: 1px solid white;
  color: white;
  /* display: none; */
}

.sidebar a {
 
  color: white;

  text-decoration: none;
}

.sidebar a.active {
  background-color: black;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

button {
  background-color: rgb(0, 0, 0);
  color: rgb(0, 255, 242);
  display: block;
  width: 100%;
  height: 30px;
  font-size: 36px;
  border: 1px solid  rgb(255, 255, 255);
  cursor: progress
}

button:hover {

  border: 1px solid rgb(0, 255, 242);
}

div.content {
  margin-left: 200px;
  padding: 3px 3px;
  height: 1000px;
  color: #1F2833;
  background-color: rgb(0, 255, 242);

}


#firstText {
  color:white;
  font-size: 24px;
  margin: 0 auto;
  margin-top: 0%;
}
.buttons {
  color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.gridC {
  border: 2px solid  #f2f2f2;
  padding: 20px;
  width: 90%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  background-color: #ececec;
  display: inline-grid;
  grid-row-gap: 0px;
  color: black;
  max-width: 500px;
  padding: 10px;
  grid-template-columns:  auto;
  grid-gap: 10px;
  background-color: #2196F3;
 
  grid-gap: 10px;
  background-color: #ffffff;

}
.gridC:hover{
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
.hello{
  color: black;
  border: 1px solid rgb(34, 34, 34);
  box-shadow: 2px 4px #555555;
  padding: 15px;
  background-color: #adadad;
  margin: 0 auto;
}

.hello button{
  background-color: green;
  color: white;
  width: 200px;
  float: center;
  border: 2px solid  rgb(0, 0, 0);
}
.btn6 {
  width: 40px;
  height: 40px;
  border-radius: 6.5px;
  border: 3px solid rgb(0, 182, 0);
  float: right;
  color: white;
  padding: 5px;
  -webkit-border-radius: 6.5px;
  -moz-border-radius: 6.5px;
  -ms-border-radius: 6.5px;
  -o-border-radius: 6.5px;
  box-shadow: .5px 1px #8d8d8d;
}
.btn6:hover {
  color:greenyellow;
}
.btn7 {
  width: 40px;
  border-radius: 6.5px;
  border: 3px solid green;
  height: 40px;
  float: left;
  color: white;
 
  -webkit-border-radius: 6.5px;
  -moz-border-radius: 6.5px;
  -ms-border-radius: 6.5px;
  -o-border-radius: 6.5px;
  box-shadow: 1px 1px 2px #727272;
  
}
.btn7:hover {
  color:greenyellow;
}

.container {
  background-color: #ffffff;
}

.redText{
  color: #ea3057
}
h2 {
  padding: 5px;
  display: block;
  color:
}
i:hover {
  color: blue;
}
.container-fluid {
  border: 1px solid rgb(41, 41, 41);
  border-radius: 3px;background-image: linear-gradient(to right, rgb(133, 133, 133) , rgb(44, 44, 44));
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  color:white;
  padding-bottom: 3px;
  border: 3px solid black;

}
.projects {



}
.home {
  margin-top: 20%;
  padding: 20px;
  color:white;
  height: 1000px;
}
.about {
  color:white;
  height: 1000px;
}
.contact {
  color:white;
  height: 1000px;
}
.resume {
  color:white;
  height: 1000px;
}
.resume a {
  color:rgb(15, 41, 192);
  height: 1000px;
  text-decoration: underline;
}
.resume a:hover {
  color:rgb(0, 255, 42);
  height: 1000px;
  text-decoration: underline;
}
.container3 form {
  color:white;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
 background-color: #072255;
  display: block;
  border: 1px solid rgb(0, 255, 242);
  border-bottom:  rgb(0, 255, 242);
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: rgb(0, 255, 242);
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {


  margin-left:10px;


}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

@media only screen and (max-width: 305px) {
  .gridC {
    border: 2px solid purple;
    padding: 10px;
    width: 95%;
    height: 80%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #ececec;
    margin: 0 auto;
    overflow: hidden;
  }
  .gridC:hover{
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  }
  .Port{
    color:white;
    font-size: 24px;
    display: block;
    margin-bottom: 5px;
    display: none;

  }
}
.tech {
  float:right;
  display: inline;

}
.react {
background-color: rgb(46, 46, 46);
border-radius: 15px;
border: 1px solid black;
-webkit-box-shadow: 4px 4px 4px 4px rgba(110, 235, 27, 0.75);
    -moz-box-shadow:    4px 4px 4px 4px rgba(183, 189, 178, 0.75);
    box-shadow:         1px 1px 11px 0px rgba(183, 252, 79, 0.75);

 
  width: 80px;
  height: 80px;
  margin-left: 60px;


  -webkit-animation-name: spin;
  -webkit-animation-duration: 18000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-name: spin;
  -moz-animation-duration: 18000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  -ms-animation-name: spin;
  -ms-animation-duration: 18000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 18000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
} 
  @-ms-keyframes spin { 
    from { 
        -ms-transform: rotate(0deg); 
    } to { 
        -ms-transform: rotate(360deg); 
    }
}
@-moz-keyframes spin { 
    from { 
        -moz-transform: rotate(0deg); 
    } to { 
        -moz-transform: rotate(360deg); 
    }
}
@-webkit-keyframes spin { 
    from { 
        -webkit-transform: rotate(0deg); 
    } to { 
        -webkit-transform: rotate(360deg); 
    }
}
@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}
.react:hover {
  background-color: rgb(46, 46, 46);
  border-radius: 15px;
  border: 1px solid white;
  -webkit-box-shadow: 4px 4px 4px 4px rgba(110, 235, 27, 0.75);
      -moz-box-shadow:    4px 4px 4px 4px rgba(183, 189, 178, 0.75);
      box-shadow:         1px 1px 11px 0px rgba(241, 141, 171, 0.75);
  
   cursor: pointer;
    width: 80px;
    height: 80px;
    margin-left: 60px;
  
  
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
  
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
  
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
  
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  } 
    @-ms-keyframes spin { 
      from { 
          -ms-transform: rotate(0deg); 
      } to { 
          -ms-transform: rotate(360deg); 
      }
  }
  @-moz-keyframes spin { 
      from { 
          -moz-transform: rotate(0deg); 
      } to { 
          -moz-transform: rotate(360deg); 
      }
  }
  @-webkit-keyframes spin { 
      from { 
          -webkit-transform: rotate(0deg); 
      } to { 
          -webkit-transform: rotate(360deg); 
      }
  }
  @keyframes spin { 
      from { 
          transform: rotate(0deg); 
      } to { 
          transform: rotate(360deg); 
      }
  }